html, body {
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Raleway', sans-serif;
  background-image: url(/yellow.jpg);
  max-width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  min-height: 100vh;
}
* {
  box-sizing: border-box;
}

/* ///// Footer Styling ///// */
.footer{
  display: flex;
  justify-content: center;
}
.footerWrap{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2rem;
  margin-bottom: 0;
}
.footer a{
  margin: 0 1em;
}
/* //////////////////////// */

a {
  color: inherit;
  text-decoration: none;
}

.hamburger{
  display: fixed;
  padding-top: 10px;
  margin-left: 10px;
  z-index: 10;
}
/* Front Page */
.photo {
  margin: 0 auto;
  clip-path: ellipse(34% 40% at 50% 50%);
  height: 20em;
  width: 20em;
  object-fit: scale-down;
  transform: translate3d(0px, 0, 0) scale(1.2);
  transition: all 0.35s;
  padding-left: 15px;
}
.photo:hover{
  opacity: .5;
  transform: translate3d(0px, 0, 0) scale(2);
}
.name{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Cinzel', serif;
  font-size: 3em;
}
.name2{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Cinzel', serif;
  font-size: 3em;
}
.home h2, img{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* ////////////////////////////// */
/* /// Projects on Home Page /// */
.myprojects{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3em;

  }
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2em;
  margin: 1em;
  padding-bottom: 2rem;

}
.projects img{
  border: 2px solid black;
  max-height: 250px;
  max-width: 250px;
  margin-bottom: 1em;
}
/* /////////////////////// */
/* Project Page */
.projectPageContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
  padding-bottom: 4em;
}

.projectPageContainer img{
  width: 80vw;
}
.buttonDiv button{
  font-family: 'Raleway', sans-serif;
  color: black;
  font-size: 1em;
  font-weight: bolder;
  height: 4em;
  width: 4em;
  border-radius: 100%;
  margin: 1em;
  background-color: #dedede;
  box-shadow: 7px 8px #888888;
}
.buttonDiv button:hover{
  background-color: black;
  color: #dedede;
}
/* /////////////////////// */
.turned{
  transition: transform 1s ease-in-out;
}
.turned:hover{
  transform: rotate(360deg);
}
/* Contact Me */
.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact .hi{
  color: #d8a85e;
  font-size: 2.7em;
  text-shadow: 2px 2px black;
}
.contactPhoto{
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 50vh;
}
.contactPhoto img{
  height: 50vh;
  width: 90vw;
  border-radius: 50%;
  box-shadow: 7px 8px #888888;
}
.buttons{
  width: 80%;
  margin-top: 0;
  margin-bottom: 2em;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.buttons button{
  color: black;
  font-size: 1.5em;
  font-weight: bolder;
  height: 6em;
  width: 6em;
  border-radius: 100%;
  margin: .5em;
  background-color: #dedede;
  box-shadow: 7px 8px #888888;
}

.buttons button:hover{
  background-color: black;
}
/* //////////////////// */
/* Resume */
.resume{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* #resumeText {
  display: flex;
  justify-conten
} */
.resume button {
  font-family: 'Raleway', sans-serif;
  color: black;
  font-size: 1.5em;
  font-weight: bolder;
  height: 6em;
  width: 6em;
  border-radius: 100%;
  margin: .5em;
  background-color: #dedede;
  box-shadow: 7px 8px #888888;
}
.resume button:hover{
  background-color: black;
  color: #dedede;
}
/* ///////////////// */
@media screen and (min-width: 768px){
  .home{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .home .name{
    margin-top: 1.5em;
  }
  .home .text{
    grid-column: 1/3;
    display: flex;
    justify-content: space-evenly;
  }
  .projectContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .myprojects{
    margin-bottom: .5em;
  }
  /* individual project page */
  .projectPageContainer img{
    width: 70vw;
  }
  .projectPageContainer button{
    height: 6em;
    width: 6em;
  } 
  
  /* /////////////////////// */
  /* contact page */
  .contactPhoto{
    margin-bottom: 15em;
  }
  .contactPhoto img{
    height: 80vh;
    width: 80vw;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 3em;
  }
  /* ////////////////// */
}
@media screen and (min-width: 1024px){

  .home{
    padding-left: 10%;
    max-width: 90%;
  }

  .contactPhoto{
    margin-bottom: 20em;
  }
  .contactPhoto img{
    height: 90vh;
    width: 50vw;
  }
  .projects{
    height: 40vh;
    width: 49vw;
    margin: 0 auto;
    margin-bottom: 1em;
  }
  .projects img{
    height: 100%;
    margin: 0 auto;
  }
}