html, body {
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Raleway', sans-serif;
  background-image: url(/yellow.jpg);
  max-width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  min-height: 100vh;
}
* {
  box-sizing: border-box;
}

/* ///// Footer Styling ///// */
.footer{
  display: flex;
  justify-content: center;
}
.footerWrap{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2rem;
  margin-bottom: 0;
}
.footer a{
  margin: 0 1em;
}
/* //////////////////////// */

a {
  color: inherit;
  text-decoration: none;
}

.hamburger{
  display: fixed;
  padding-top: 10px;
  margin-left: 10px;
  z-index: 10;
}
/* Front Page */
.photo {
  margin: 0 auto;
  clip-path: ellipse(34% 40% at 50% 50%);
  height: 20em;
  width: 20em;
  object-fit: scale-down;
  transform: translate3d(0px, 0, 0) scale(1.2);
  transition: all 0.35s;
  padding-left: 15px;
}
.photo:hover{
  opacity: .5;
  transform: translate3d(0px, 0, 0) scale(2);
}
.name{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Cinzel', serif;
  font-size: 3em;
}
.name2{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Cinzel', serif;
  font-size: 3em;
}
.home h2, img{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* ////////////////////////////// */
/* /// Projects on Home Page /// */
.myprojects{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3em;

  }
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2em;
  margin: 1em;
  padding-bottom: 2rem;

}
.projects img{
  border: 2px solid black;
  max-height: 250px;
  max-width: 250px;
  margin-bottom: 1em;
}
/* /////////////////////// */
/* Project Page */
.projectContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
 
}
.buttonDiv{
  margin: 10px auto;
  display: flex;
  justify-content: space-evenly;
}
.buttonDiv button{
  border-radius: 10px;
  height: 30px;
  background-color: black;
  color: white;
}
/* /////////////////////// */
.turned{
  transition: transform 1s ease-in-out;
}
.turned:hover{
  transform: rotate(360deg);
}
/* Contact Me */
.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact .hi{
  position: absolute;
  z-index: 1;
  transform: translate(-25%, -50%);
  margin: 0;
  color: white;
  font-size: 3em;
  padding-top: 100px;
  text-shadow: 2px 2px black;
}
.contactPhoto{
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 65vh;
  
}
.contactPhoto img{
  height: 100%;
  width: auto;
  border-radius: 50%;
  
}
.buttons{
  display: flex;
  justify-content: space-between;

}
/* //////////////////// */
@media screen and (min-width: 768px){
  .home{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .home .name{
    margin-top: 1.5em;
  }
  .home .text{
    grid-column: 1/3;
    display: flex;
    justify-content: space-evenly;
  }
  .projectContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .myprojects{
    margin-bottom: .5em;
  }
  
}
